#header {
    padding: 3px;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
}
button.save {
    float: right;
    overflow: auto;
}
button.load {
    float: right;
    overflow: auto;
}
button.clear-save {
    float:right;
    overflow:auto;
}
#body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90%;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
}
#left {
    order: 1;
    float: left;
    width: 40%;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
}
#right {
    display: flex;
    flex-direction: column;
    order: 2;
    flex-grow: 1;
    float: right;
    width: 20%;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
}
#party-div {
    position:relative;
    order: 1;
    height: 70%;
    flex-grow: 1;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
}
#combat-log {
    order: 2;
    height: 180px;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    overflow-y: auto;
    overflow-x: hidden;
}
#char1.character {
    top: 35%;
    left: 15%;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 2;
}
#char2.character {
    top: 55%;
    left: 15%;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 2;
}
#char3.character {
    top: 35%;
    left: 30%;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 2;
}
#char4.character {
    top: 55%;
    left: 30%;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 2;
}
#char5.character {
    top: 45%;
    left: 45%;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 2;
}
#enemy {
    top: 45%;
    left: 75%;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 2;
}
.dropdownButton {
    border: none;
    cursor: pointer;
    padding: 10px;
}

.charDropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    display: block;
    text-decoration: none;
    padding: 12px, 18px;
    color: black;
}
.show {display:block;}